ALWAYS_SEARCH_USER_PATHS = NO
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
ASSETCATALOG_COMPILER_GLOBAL_ACCENT_COLOR_NAME = AccentColor
ASSETCATALOG_COMPILER_INCLUDE_ALL_APPICON_ASSETS = NO
CODE_SIGN_STYLE = Automatic
CURRENT_PROJECT_VERSION = 53
DEVELOPMENT_TEAM = NKW67GFDHM
ENABLE_HARDENED_RUNTIME = YES
ENABLE_PREVIEWS = YES
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = Talkify-Info.plist
INFOPLIST_KEY_CFBundleDisplayName = Talkify
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.developer-tools
LD_RUNPATH_SEARCH_PATHS = @executable_path/../Frameworks
MACOSX_DEPLOYMENT_TARGET = 15
MARKETING_VERSION = 2.0.0
PRODUCT_BUNDLE_IDENTIFIER = com.objc.chat
PRODUCT_NAME = $(TARGET_NAME)
SDKROOT = macosx
STRING_CATALOG_GENERATE_SYMBOLS = YES
SUPPORTED_PLATFORMS = macosx
SUPPORTS_MACCATALYST = NO
SWIFT_APPROACHABLE_CONCURRENCY = YES
SWIFT_EMIT_LOC_STRINGS = YES
SWIFT_UPCOMING_FEATURE_MEMBER_IMPORT_VISIBILITY = YES
SWIFT_VERSION = 5.0
